
<form [formGroup]="this.qnsService.form" (ngSubmit)='onSubmit()'>

  <div class="input-field col s12">
    <input type='text' formControlName="qn" id='qn' class="validate" />
    <label for="qn">Question</label>
  </div>

  <div class="input-field col s12">
    <input type='text'  formControlName="opnA" id='opnA' class="validate" />
    <label for="opnA">Option A</label>
  </div>

  <div class="input-field col s12">
    <input type='text'  formControlName="opnB" id='opnB' class="validate" />
    <label for="opnB">Option B</label>
  </div>

  <div class="input-field col s12">
    <input type='text'  formControlName="opnC" id='opnC' class="validate" />
    <label for="opnC">Option C</label>
  </div>

  <div class="input-field col s12">
    <input type='text'  formControlName="opnD" id='opnD' class="validate" />
    <label for="opnD">Question D</label>
  </div>

  <div class="input-field col s12">
    <input type='text' formControlName="ans" id='ans' class="validate"  />
    <label for="ans">Answer</label>
  </div>


  <button class='waves-effect waves-light btn col s12' >
    Add
  </button>

</form>
