
<form [formGroup]="this.qnsService.form">

  <div class="input-field col s12">
    <input type='text' formControlName="qn" id='qn' class="validate" />
    <label for="qn">Question</label>
  </div>

  <div class="input-field col s12">
    <input type='text'  formControlName="opnA" id='opnA' class="validate" />
    <label for="opnA">Option A</label>
  </div>

  <div class="input-field col s12">
    <input type='text'  formControlName="opnB" id='opnB' class="validate" />
    <label for="opnB">Option B</label>
  </div>

  <div class="input-field col s12">
    <input type='text'  formControlName="opnC" id='opnC' class="validate" />
    <label for="opnC">Option C</label>
  </div>

  <div class="input-field col s12">
    <input type='text'  formControlName="opnD" id='opnD' class="validate" />
    <label for="opnD">Question D</label>
  </div>

  <div class="input-field col s12">
    <input type='text' formControlName="ans" id='ans' class="validate" />
    <label for="ans">Answer</label>
  </div>

  <div formArrayName="data">
      <input type='text' formControlName="car" id='car' class="validate" />
      <label for="car">car</label>
      <input type='text' formControlName="bike" id='bike' class="validate" />
      <label for="bike">bike</label>
    </div>



  <button class='waves-effect waves-light btn col s12' (click)='onSubmit()'>
    Add Question
  </button>

</form>
